body {
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    background-repeat: no-repeat;
    background-image: url("http://technology.inquirer.net/files/2017/10/the-most-famous-windows-wallpaper-ever-turns-20-505668-2.jpg");
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Roboto Condensed', sans-serif;
}

.messengerHolder{
    height: 700px;
    width: 550px;
    margin-top: 90px;
}

.header {
    background-color: rgb(37, 84, 214);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: solid;
    border-color: black;
}

#messengerBody {
    background-color: rgb(230, 222, 214);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid;
    border-color: black;
    border-top: none;
}

.picture {
    position: static;
    display: inline-block;
    height: 5em;
    margin-left: 0px;
}

.chats {
    margin-left: auto;
    color: black;
    display: inline-block;
    border: black;
    background-color: white;
    height: 450px;
    width: 500px;
    overflow-y: scroll;
    margin-top: 20px;
}

.room {
    position: top;
}
.holder{
    height: 200px;
    width: 350px;
    margin-top: 150px;

}

.holder1 {
    background-color: rgb(37, 84, 214);
    color: white;
    padding-top: px;
    padding-bottom: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: solid;
    border-color: black;
}

.holder2{
    background-color: rgb(248, 246, 231);
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid;
    border-top: none
}

.user {
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	border: none;
	background: none;
	padding-left: 30px;
	padding-top: 9px;
	padding-bottom: 10px;
}

.userImage {
    position: static;
    display: inline-block;
    height: 1em;
    margin-left: 0px;
}

.mesg {
	font-family: 'Titillium Web', sans-serif;
	font-size: 25px;
	padding: 5px 5px 5px 10px;
	color: #303030;
	margin-left: 100px;
	align-items:  center;
}

.render {
    background-color: #c0deed;
    margin: 20px 20px 20px 20px;
    border-left: 1px solid #aab8c2;
    border-right: 1px solid #aab8c2;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items:  center;
}

.clickedFriend {
    background-color: #f0ebad;
    margin: 20px 20px 20px 20px;
    border-left: 1px solid #aab8c2;
    border-right: 1px solid #aab8c2;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items:  center;
}

.icon {
    padding-bottom: 20px;
    border-bottom: solid;
    border-color: #000000;
}

#room {
    border: 0 none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 300px;
    background: rgb(188, 196, 187);
}
.question{
    padding-bottom: 5px;
    padding-top: 15px;
    text-align: left;
    padding-left: 25px
}

.usernameInput{
    width: 300px;
}

.inputFeilds {
    padding-top: 10px;
}

.roomChooser{
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.newRoomForm {
    padding-top: 10px;
}

.creatingNewTweet {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;

    font-family: 'Roboto Condensed', sans-serif;
}
.textbox {
    width: 400px;
    height: 50px;
    margin-left: 47px;
    margin-right: 10px;
}

.submitMessage {
    height: 50px;
    width: 40px;
    text-align: center;
    background-color: white;
    color: black;
}

.send {
    height: 50px;
    margin-top: 3px;
}









/* #main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
} */
